
:root {

    --color-bg-dark: #edebeb;
    --color-bg-light: #ffffff;
    --color-bg-light-darker: #f6f6f6;
    --color-bg-error: #ffd8d2;
    --color-bg-ok: #e7ffdd;

    --color-fg-dark: #333333;
    --color-fg-ok: #2d7409;
    --color-fg-error: #73180a;
    --color-fg-other: #052f6d;

    --padding-body: 20px;
}


html {
    /* NOTE: can't set background here, or it will affect the portal document's background too, since the default color is `transparent` */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: solid var(--padding-body) var(--color-bg-dark);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: sans-serif;
}

.chip {
    border-radius: 6px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}


smolweb-portal-bar {
    width: 100%;
    background-color: var(--color-bg-dark);
    padding-bottom: var(--padding-body);
    overflow: hidden;
}

/* small screens */
@media (width <= 580px) {
    smolweb-portal-bar {
        display: grid;
        grid-template-areas:
			"button address"
			"indicator indicator";
        grid-template-rows: 32px 32px;
        grid-template-columns: 32px auto;
        column-gap: var(--padding-body);
        row-gap: calc(var(--padding-body)/2);
    }
    smolweb-portal-bar #refresh {
        grid-area: button;
    }
    smolweb-portal-bar #address {
        grid-area: address;
    }
    smolweb-portal-indicator {
        grid-area: indicator;
    }
}

/* large screens */
@media (width > 580px) {
    smolweb-portal-bar {
        display: flex;
        flex-direction: row;
        gap: var(--padding-body);
        height: 32px;
    }
    smolweb-portal-bar #address {
        flex-grow: 1;
    }
}

smolweb-portal-bar #refresh {
    text-align: center;
    font-size: 150%;
}

smolweb-portal-bar #address {
    padding-left: 10px;
    padding-right: 10px;
}

smolweb-portal-bar smolweb-portal-popover.error {
    --popover-color: var(--color-bg-error);
}


smolweb-portal-frame {
    display: block;
    flex-grow: 1;
    border: inset 1px;
}

smolweb-portal-frame iframe {
    width: 100%;
    height: 100%;
    border: none;
}


smolweb-portal-indicator .content {
    width: 100px;
    height: 100%;
    line-height: 100%;
    border: solid 1px var(--color-fg-dark);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

smolweb-portal-indicator .content.ok {
    background-color: var(--color-bg-ok);
}

smolweb-portal-indicator .content.error {
    background-color: var(--color-bg-error);
}

smolweb-portal-log {
    --popover-color: var(--color-bg-light);
    --popover-max-height: 90%;
}

smolweb-portal-log h1 {
    font-size: 120%;
}

smolweb-portal-log h2 {
    font-size: 105%;
}

smolweb-portal-log h3 {
    font-size: 100%;
}

smolweb-portal-log ul,
smolweb-portal-log ol {
    margin-top: 2px;
    margin-bottom: 2px;
}

smolweb-portal-log .requests .request .summary {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

smolweb-portal-log .requests .request .summary .icon {
    width: 16px;
}

smolweb-portal-log .requests .request .summary .http-status {
    width: 48px;
    background-color: var(--color-bg-light-darker);
}

smolweb-portal-log .requests .request .summary .http-status.ok {
    color: white;
    background-color: var(--color-fg-ok);
}

smolweb-portal-log .requests .request .summary .http-status.error {
    color: white;
    background-color: var(--color-fg-error);
}

smolweb-portal-log .requests .request .summary .http-status.other {
    color: white;
    background-color: var(--color-fg-other);
}

smolweb-portal-log .requests .request .details {
    margin-left: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

smolweb-portal-log .requests .request .details .errors .chip {
    color: white;
    background-color: var(--color-fg-error);
    margin-right: 10px;
}

smolweb-portal-log .requests .request .details .ice-candidate-icon {
    margin-right: 8px;
}

smolweb-portal-log .requests .request .details .ice-candidate-summary {
    font-family: monospace;
    font-size: 116%;
    cursor: pointer;
}

smolweb-portal-log .requests .request .details .ice-candidate-detail {
    font-size: 90%;
    display: flex;
    flex-direction: column;
}

smolweb-portal-log .requests .request .details .ice-candidate-detail .ice-candidate-field {
    display: flex;
    flex-direction: row;
}

smolweb-portal-log .requests .request .details .ice-candidate-detail .ice-candidate-field .label {
    width: 168px;
    text-align: right;
    margin-right: 20px;
}
